.lightButton {
  width: 48%;
  height: 60px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #d3fcff;

  color: #17c3ce;

  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.44px;

  cursor: pointer;
  border: none;
}
