.passwordInput__title {
  text-align: left;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-bottom: 20px;
}

.passwordInput__field {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 6px;
}

.passwordInput__form {
  flex-grow: 1;
  border: none;
  outline: none;
}

.passwordInput__form::placeholder {
  color: #cacaca;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}

.passwordInput__icon {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
  border-bottom: 2px solid #17c3ce;
  margin: 0;
}
