.login {
  &__titleContent {
    display: flex;
    margin-top: 45px;
    margin-bottom: 29px;
  }

  &__backIcon {
    text-align: left;
    margin-top: 20px;

    img {
      cursor: pointer;
    }
  }

  &__title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
  }

  &__description {
    color: #9E9E9E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-align: left;
    margin-bottom: 60px;
  }

  &__forgetPassword {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 21px 0 23px;
    color: var(--Primarycolor, #17C3CE);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }

  &__toSignup {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    margin-bottom: 60px;

    span {
      font-size: 14px;
      font-weight: 600;
      line-height: 22px; /* 157.143% */
      letter-spacing: 0.28px;
    }
    a {
      color: #17C3CE;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px; /* 157.143% */
      letter-spacing: 0.28px;
      text-decoration: none;
    }
  }

}
